* {
	background-size: cover !important;
}

body{
	margin:0;
	padding:0;
	background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)),url(images/wm.jpg);
	background-attachment:fixed;
	}

	

	.optionButton, #scoreResult{
		width:280px;
		font-size:40px;
		text-align:center;
		font-family:Tw Cen MT;
		color:white;
		border-radius:10px;
		padding:15px;
		vertical-align:middle;
		cursor:pointer;
		margin:10px;
	}

	.optionButton {
		background:skyblue;
		opacity:1;
		
	}
	
	#gameStatus {
		font-size:30px;
		color:white;
		text-align:center;
		font-family:Tw Cen MT;
	}

	#scoreResult {
		border:5px skyblue solid;
		cursor:default;
	}
	
	.optionButton:hover{
		opacity:0.7;
		filter:drop-shadow(0px 0px 8px skyblue);
		transform:scale(1.02);
	}	
	
	.optionButton:active {
		background:white;
		color:skyblue;
	}
	
	#modal,#howto{

    z-index: 3;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
	}
	
	#howto {
		z-index:4;
		padding-top:100px;
		font-family:Tw Cen MT;
		background: linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.9));
		font-size:40px;
		line-height:50px;
		color:white;
	}
	
	#welcomeScreen,#endScreen{
	z-index: 3;
	}
	
	*{
		transition:0.1s;
	}	
	.button {
		height:200px;
		width:200px;
		font-size:30px;
		text-align:center;
		font-family:Tw Cen MT;
		color:white;
		background-image:url('images/button1.png');
		background-size:cover;
		cursor:pointer;
		filter:brightness(100%);
		display:table-cell;
		vertical-align:middle;
	}

	.button:hover{
		opacity:0.8;
	}
	
	.button:active{
		opacity:1;
		
	}
	
	.secondButton {
		opacity:0.7;
	}
	
	.secondButton:hover {
		opacity:0.85;
	}
	
	.mainTitle {
		animation:linkGlow 3s infinite;
	}
	
	  @keyframes linkGlow {
		0%{filter:drop-shadow(0px 0px 25px skyblue);}
		50%{filter:drop-shadow(0px 0px 10px skyblue);}
		100%{filter:drop-shadow(0px 0px 25px skyblue);}
	}
	
	
	
	
@media only screen and (max-width: 600px) {
    .button {
        font-size:25px;
		height:160px;
    }
	.optionButton {
		font-size:30px;
		margin:0px;
	}
	
	img {
		height:300px;
	}
	
	
}	